* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: inherit;
  color: inherit;
  background: transparent none;
  cursor: inherit;
}

html, body {
  font-size: 12pt;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  color: black;
  background: #dddddd;
  cursor: default;
}

body {
  width: 100vw;
  height: 100vh;
}

b { font-size: 30vh; }
@media (orientation: portrait){
  b {
    font-size: 30vw;
  }
}

.emojiActor {
  position: fixed;
  z-index: 400;
}

.emoji-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emoji-container > .emojiActor {
  position: static;
}

#wall {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 40vh;
  background: #edd60a;
  z-index: 100;
}

#door {
  position: absolute;
  left: 10%;
  bottom: 0;
  z-index: 110;
}

#pumkin-area {
  position: fixed;
  z-index: 200;
  height: 32vh;
  width: 32vh;
  left: calc(50vw - 16vh);
  top: calc(50vh - 16vh);
}
@media (orientation: portrait){
  #pumkin-area {
    height: 32vw;
    width: 32vw;
    left: calc(50vw - 16vw);
    top: calc(50vh - 16vw);
  }
}

#counter, #food-area {
  background: #1069fe;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  border-top-left-radius: 20vw 6vw;
  border-top-right-radius: 20vw 6vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#counter {
  align-items: flex-start;
  z-index: 300;
  height: 40vh;
}

#food-area {
  background: #888;
  height: 30vh;
  z-index: 310;
  align-items: center;
}

.pumkin {
  z-index: 210;
}

.food-container {
  width: 14vh;
  height: 14vh;
  margin: 0 2vw;
}
.food {
  font-size: 12vh;
  z-index: 450;
}
@media (orientation: portrait){
  .food-container {
    width: 14vw;
    height: 14vw;
  }
  .food {
    font-size: 12vw;
  }
}

.food-container > .food {
  cursor: pointer;
}

#score {
  font-size: 4vh;

  position: fixed;
  top: 0.2em;
  right: 0.2em;
  width: 4em;
  padding: 0.2em;

  color: white;
  background: #ff6633;
  border: 2px solid #ab6439;
  border-radius: 0.9em;

  text-align: center;
  font-style: italic;

  z-index: 600;
}
